.about_container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  width: 100%;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.12rem; 
  line-height: 1.4;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  background-color: #efefef;
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  gap: 0.5rem; 
  padding: 0.5rem; 
  border-radius: 10px; 
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  width: 100%; 
}

.text_description {
  text-align: center; 
  width: 100%; 
}

.icon {
  color: #ff0202d2;
}


@media (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr 1fr; 
  }

  .about .features:nth-child(3) {
    grid-column: 1 / -1; 
  }
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr; 
  }

  .about .features {
    grid-column: 1 / -1;
  }

  .features {
    gap: 0.5rem;
    font-size: 0.9rem;
  }

  .info {
    font-size: 0.9rem;
  }

  .abilities {
    flex-direction: column;
    gap: 0.5rem;
  }
}
