.about_container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
}

.about{
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(
      100px, 
      1fr
    )
  );
  gap: 1rem;
  width: 100%;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.12rem; 
  line-height: 1.4;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  /* max-width: min-content; */
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  background-color: #efefef;
  
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Cambié a 'flex-start' para que no se centre tanto */
  align-items: center; /* Alineación a la izquierda */
  gap: 0.5rem; /* Reduje el espacio entre elementos */
  padding: 0.5rem; /* Ajusté el padding para reducir el espacio */
  border-radius: 10px; /* Reduje el border-radius */
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ajusté el shadow */
  width: 100%; /* Haciendo que ocupe todo el ancho disponible */
  /* max-width: 95%; Limité el ancho máximo */
  
}
.text_description {
  text-align: center; 
  width: 100%; 
}

.icon {
  color: #ff0202d2;
}

/* @media (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .features {
    gap: 0.5rem;
    font-size: 0.9rem;
  }

  .info {
    font-size: 0.9rem;
  }

  .abilities {
    flex-direction: column;
    gap: 0.5rem;
  }
} */


/* Media Query: Para pantallas medianas (1024px a 768px) */
@media (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr 1fr; /* Cambiar a 2 columnas */
  }

  .about .features:nth-child(3) {
    grid-column: 1 / -1; /* El tercer elemento ocupa toda la fila */
  }
}

/* Media Query: Para pantallas pequeñas (768px o menos) */
@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr; /* Cambiar a 1 columna */
  }

  /* Los elementos ocuparán toda la fila (100%) */
  .about .features {
    grid-column: 1 / -1;
  }

  .features {
    gap: 0.5rem;
    font-size: 0.9rem;
  }

  .info {
    font-size: 0.9rem;
  }

  .abilities {
    flex-direction: column;
    gap: 0.5rem;
  }
}