
.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow: hidden; /* Para que el contenido hijo no sobresalga del card */
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: transform 0.3s ease;
  gap: 5px;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.05); /* Pequeño efecto de agrandar al hacer hover */
}
