.evolution_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  width: 90%;
}

.evolution_chain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}

.evolution_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.pokemon_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.5rem white;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: #efefef;
  width: 150px;
  height: 150px;
}

.pokemon_image {
  aspect-ratio: 4/3;
  object-fit: contain;
}

.arrow_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 50px;
  color: #ff0202d2;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.link {
  text-decoration: none;
  color: inherit; 
}

/* Media Queries */
@media (max-width: 768px) {
  .evolution_chain {
    grid-template-columns: 1fr; 
  }

  .arrow {
    font-size: 40px;
  }
}
