.card {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  /* width: 100%; */
  height:fit-content;
  padding: 0.5rem;
  margin-top: 2rem;
}

.card:hover {
  transform: none;
}

.cards_section {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* min-height: 100%; */
  /* width: 100%; */
  background-color: #dad6d6;
  border: solid 1px #1d1d1d;
}

.no_pokemons_container {
  text-align: center;
  padding: 20px;
}

.message {
  padding: 1rem;
  font-weight: 500;
  color: red; /* Puedes cambiar el color dependiendo de si es un error o no */
}