 .title {
  width: 220px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 1em; 
  background-color: transparent;
  border-radius: 3px; 
  margin-bottom: 45px;
  min-width: min-content;
}

.filters_container, 
.types_container, 
.sequences_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.filters_container {
  gap: 2em; 
  width: auto;
  flex-shrink: 0; 
  min-width: max-content;
}

.types_container {
  flex: 1;
  min-width: 200px;
  justify-content: flex-start;
  gap: 0.8rem;
}

.types_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); 
  gap: 0.5rem; 
  height: auto;
  width: 100%;
  justify-items: center;
}

.pokemons_type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pokemons_type:hover {
  background-color: #0e0d0d;
}

.pokemons_type:focus {
  box-shadow: 0 0 0 2px #0096bfab;
}

.pokemons_type:active {
  background-color: #1a1919;
}

.pokemons_type.selected {
  background-color: #4b4a49e5; 
  border: solid 1px #fff;
}

.pokemons_type:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.sequences_container {
  justify-content: flex-start;    
  min-width: 100%; 
  gap: 0.7rem;
  flex-wrap: nowrap;
} 

.inputs_container, 
.buttons_container {
  display: flex;
  align-items: center;
  min-width: max-content;
}

.inputs_container {
  gap:1rem;
  flex-shrink: 0;
}

.offset, .limit {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
}
.input {
  padding: 8px;
  height: 90%;
  width: 60px;
  background-color: #fff;
  color: #1d1d1d;
  border-radius: 6px;
  border: none;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.input:focus {
  box-shadow: 0 0 0 2px #0096bfab;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.error {
  display: flex;
  align-items:baseline;
  color: #fff;
  font-size: 12px;
  font-weight: 500; 
  gap: 0.5rem;
  border-radius:5px;
  width: fit-content;
  padding: 3px 8px;
  background-color: #302d2d9d;
  margin-left: 1.5rem;
}

.buttons_container{
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 0.7rem;
  height: min-content;
  margin-bottom: 1rem;
}

.button_container {
  height: 100%;
  width: auto;
}

@media (1200px >= width >= 300px) {
  .form {
    flex-direction: column; 
    align-items: stretch; 
  }
} 

