.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 60%;
  padding-top: 60px;
  gap: 1rem;
  min-height: calc(100vh - 200px);
}

.pokemon_section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}

.column_grid {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.center {
  height: 100%;
} 

.pokemon_card {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-width: 60%;
  max-height: 100%;
}

.pokemon_card:hover {
  transform: none;
}

.button_card {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0.5rem;
}

.button {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
}

.info_container {  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 1rem; 
}

.info_column {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.about_card {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
  
}

.stats_card {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  min-height: 100%;
}


.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (width <= 1750px) {
  .center {
    height: auto;
  } 

  .info_container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    align-items: center;
    justify-items: center;
  }

  .info_column {
    justify-content: flex-start;
    align-items: center; 
    min-width: 100%;
    margin: 0 auto;
  }

  .about_card, .stats_card {
    min-width: 100%; 
  }
}

@media (width <= 768px) {
  .main {
    width: 90%;
    margin: 0 auto;
    min-width: 30%;
    padding-top: 3rem;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .info_container {
    width: 90%;
    margin: 0 auto;
  }

  .link {
    display: block;
    text-align: center;
  }
}
