.sort_selection {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 200px;
  width: 80%;
}

.main {
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 80%;
  min-height: calc(120vh - 200px);
}

.pokemons_list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(
      180px, 
      1fr
    )
  );
  gap: 1.5rem;
  width: 80%;
  align-items: center;
  justify-items: center;
  padding-bottom: 3rem;
}


.pokemons_list li {
  opacity: 0;
  transform: translateY(20px);
  animation: zoomIn 0.5s ease forwards;
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5); /* Escala pequeña */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Escala normal */
  }
}

.pokemons_list li:nth-child(1) {
  animation-delay: 0.1s;
}
.pokemons_list li:nth-child(2) {
  animation-delay: 0.2s;
}
.pokemons_list li:nth-child(3) {
  animation-delay: 0.3s;
}
.pokemons_list li:nth-child(4) {
  animation-delay: 0.4s;
}
.pokemons_list li:nth-child(5) {
  animation-delay: 0.5s;
}

.button_card {
  padding: 0.5rem;
}

.button {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.loader_container {
  position: fixed;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   z-index: 1000;  
}

.link {
  text-decoration: none;
  color: inherit; 
}

@media (width <= 1050px ) {
  .sort_selection {
    align-items:flex-end;
    min-width: 30%;
    margin-top: 200px;
  }

}

@media (width <= 768px ) {
  .sort_selection {
    align-items:flex-end;
    width: 95%; 
    margin-top: 250px;
  }

  .main {
    width: 95%; 
    min-width: 30%;
  }
}

@media (width <= 480px ) {
  .sort_selection {
    align-items: end;
    width: 95%; 
    margin-top: 260px;
  }

  .main {
    width: 95%; 
    min-width: 30%;
  }
}
