.pokemons_list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(
      260px, 
      1fr
      )
  );
  list-style: none;
  gap: 1rem;
  width: 80%;
  border: solid 2px blue;
}



