.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}

 .search_container {
  display:flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #000000;
  transition: height 0.3s ease-in-out; 
  overflow: visible;
}

.filters_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: auto;
  padding-top: 25px;

  overflow: hidden;
  background-color: #0f0f0fd8;
  box-shadow: inset 0 0 60px 10px rgba(72, 135, 202, 0.8); 
  overflow: visible; 
  min-height: max-content;
  /* border: solid 2px blue; */
}

.button_container {
  display:flex;
  flex-direction: column-reverse;
  position: absolute;
  top: calc(100% - 20px); 
  left: 50%; 
  transform: translate(-50%, -50%);  
  z-index: 1; 
  background-color: #fff;
  border-radius: 50% ;
  height: 60px;
  width: 60px;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 30px black;
}

.button_container:focus {
  box-shadow: 0 0 0 30px black; /* Mantener el box-shadow deseado al enfocar */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}




