.header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: auto;
  height: 150px;
  flex-wrap: wrap;
  gap: 10px;
  background: #ff0202; 
  
}

.logo {
  height: 100px;
}

.form {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  /* border: solid 2px black */
}

.input {
  transition: background-color var(--animation-duration, 0.1s) linear,
              border-color var(--animation-duration, 0.1s) linear,
              color var(--animation-duration, 0.1s) linear,
              box-shadow var(--animation-duration, 0.1s) linear,
              transform var(--animation-duration, 0.1s) ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 6px;
  width: 200px;
  background-color: #fff;
  color: var(--form-text, #1d1d1d);
  border-radius: 6px;
  border: none;
  outline: none;
  
}

.input:focus {
  box-shadow: 0 0 0 2px var(--focus, #0096bfab);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}