.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Para asegurarse de que quede por encima de otros elementos */
  border: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background: #ff0202;
  
}

.logo {
  width: 15%;
  margin: 15px;
  margin-bottom: 15px; 
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 45px;
  margin-bottom: 15px; 
  
}

.input {
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 6px;
  width: auto;
  height: 100%;
  background-color: #fff;
  color: #1d1d1d;
  border-radius: 6px;
  border: none;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.input:focus {
  box-shadow: 0 0 0 2px #0096bfab;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button_container {
  width: auto;
  height: 100%;
  padding: 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
