.icon_container {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Hace el contenedor circular */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  overflow: hidden; /* Asegura que el ícono no se salga del contenedor */
  /* background-color: #333; Color de fondo opcional */
  border: 1px solid #ccc; /* Borde opcional */
  
}

.icon_container img {
  width: 90%; /* Ajusta el tamaño del ícono dentro del contenedor */
  height: auto; /* Mantiene la proporción del ícono */
}