.label_container {
  margin: 1rem 0;
}

.name_label {
  display: flex;
  justify-content: space-between;
  font-size: 1.12rem;
  margin-bottom: 0.5rem;
}

.progress_bar {
  width: 100%;
  background-color: #fff; /* Color rojo */
  border-radius: 50px;
  height: 0.8rem;
  overflow: hidden;
  position: relative;
}

.progress_bar_fill {
  background-color: #ff0202d2; /* Color rojo */
  height: 100%;
  border-radius: 50px;
  transition: width 0.5s ease-in-out;
}